@model DSS_CIO.Models.Project

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PeopleCount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PeopleCount)
                @Html.ValidationMessageFor(model => model.PeopleCount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LaunchDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LaunchDate)
                @Html.ValidationMessageFor(model => model.LaunchDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EcpectedEndDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EcpectedEndDate)
                @Html.ValidationMessageFor(model => model.EcpectedEndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActualEndDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ActualEndDate)
                @Html.ValidationMessageFor(model => model.ActualEndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompletionPercentage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompletionPercentage)
                @Html.ValidationMessageFor(model => model.CompletionPercentage)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ProjectStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectStatus)
                @Html.ValidationMessageFor(model => model.ProjectStatus)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Projects", "Index")
</div>
