@model DSS_CIO.Models.Health

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Health</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BMI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BMI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EyeSight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EyeSight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Allergy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allergy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disease)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherHealthIssue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherHealthIssue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HealthID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
