@model DSS_CIO.Models.FinanceTransaction

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FinanceTransaction</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.FinanceTransactionID)

        <div class="form-group">
            @Html.LabelFor(model => model.TransactionType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransactionType)
                @Html.ValidationMessageFor(model => model.TransactionType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdentificationDocumentNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdentificationDocumentNumber)
                @Html.ValidationMessageFor(model => model.IdentificationDocumentNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdentificationDocumentType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdentificationDocumentType)
                @Html.ValidationMessageFor(model => model.IdentificationDocumentType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount)
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SenderIdentification, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SenderIdentification)
                @Html.ValidationMessageFor(model => model.SenderIdentification)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReceiverIdentification, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReceiverIdentification)
                @Html.ValidationMessageFor(model => model.ReceiverIdentification)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TransactionDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransactionDate)
                @Html.ValidationMessageFor(model => model.TransactionDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectFinanceID, "ProjectFinanceID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProjectFinanceID", String.Empty)
                @Html.ValidationMessageFor(model => model.ProjectFinanceID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectID, "ProjectID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProjectID", String.Empty)
                @Html.ValidationMessageFor(model => model.ProjectID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, "CustomerID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerID", String.Empty)
                @Html.ValidationMessageFor(model => model.CustomerID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
