@model IEnumerable<DSS_CIO.Models.ProjectEmployeeAssignment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Performance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Performance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectEmployeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectEmployeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectEmployeeID })
        </td>
    </tr>
}

</table>
