@model DSS_CIO.Models.Complaint

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Complaint</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Severity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Severity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Milestone.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Milestone.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deliverable.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deliverable.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComplaintID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
