@model DSS_CIO.Models.ComplaintEmployeeAssignment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ComplaintEmployeeAssignment</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ComplaintAssignmentID)

        <div class="form-group">
            @Html.LabelFor(model => model.ComplaintID, "ComplaintID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ComplaintID", String.Empty)
                @Html.ValidationMessageFor(model => model.ComplaintID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeID, "EmployeeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmployeeID", String.Empty)
                @Html.ValidationMessageFor(model => model.EmployeeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssignmentDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssignmentDate)
                @Html.ValidationMessageFor(model => model.AssignmentDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Deadline, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Deadline)
                @Html.ValidationMessageFor(model => model.Deadline)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResolutionDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ResolutionDate)
                @Html.ValidationMessageFor(model => model.ResolutionDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
