@model DSSCIO.Areas.Test.Models.ProjectDetailModel
@{
    ViewBag.Title = "Project Detial";
}
<link href="~/Areas/Test/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Areas/Test/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/Areas/Test/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="~/Areas/Test/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/Areas/Test/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<div class="page-title">
    <div class="title_left">
        <h3>Project Detail</h3>
    </div>

</div>
<div class="clearfix"></div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel" style="background-color:lightblue">

        <div class="x_content">
            <br>
            <form class="form-horizontal form-label-left">

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-2">Name</label>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" disabled="disabled" value="@Model.Name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-2">People Count</label>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" disabled="disabled" value="@Model.PeopleCount">
                    </div>
                </div>



                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-2">Lanch Date</label>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" disabled="disabled" value="@Model.LanchDate">
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-2">Expected End Date</label>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" disabled="disabled" value="@Model.ExpectedEndDate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-2">Total Mile Stones</label>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" disabled="disabled" value="@Model.TotalMileStone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-2">Project Status</label>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" disabled="disabled" value="@Model.ProjStatus">
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Employee working on project</h2>
                    <a class="btn btn-primary pull-right" href="@Url.Action("ProjectEmployeementDetail",new { ProjectId = Model.ProjectId })">Add Employee</a> 
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable1" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Appointment Date</th>
                                <th>Performance</th>

                            </tr>
                        </thead>

                    </table>

                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Complaint in projects</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable2" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Category</th>
                                <th>Task Category</th>
                                <th>Description</th>
                                <th>Severity</th>
                            </tr>
                        </thead>

                    </table>

                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Resources in project</h2>
                    <a class="btn btn-primary pull-right" href="@Url.Action("ProjectResourcesDetail",new { ProjectId = Model.ProjectId })">Add Resources</a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable3" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Assignment Date</th>
                                <th>Expected Return Date</th>

                                <th>Actual Return Date</th>
                            </tr>
                        </thead>

                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Expences in project</h2>
                     <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable31" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Date</th>

                            </tr>
                        </thead>

                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Finace in project</h2>
                     <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable32" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Date</th>
                                
                            </tr>
                        </thead>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $('#datatable1').dataTable({
            "ajax": "@Url.Action("GetEmployeeWorkingProjects", "My",new {@id = @Model.ProjectId })"
        });
        $('#datatable2').dataTable({
            "ajax": "@Url.Action("GetCompliantInProjects", "My" ,new { @id = @Model.ProjectId })"
        });
        $('#datatable3').dataTable({
            "ajax": "@Url.Action("GetResourcesInProjects", "My" ,  new { @id = @Model.ProjectId })"
        });
        $('#datatable31').dataTable({
            "ajax": "@Url.Action("GetExpenceInProjects1", "My" ,  new { @id = @Model.ProjectId })"
        });
        $('#datatable32').dataTable({
            "ajax": "@Url.Action("GetFiniaceInProjects", "My" ,  new { @id = @Model.ProjectId })"
        });
    });
    </script>
        
